
@{
    ViewBag.Title = "Index";
}

<h1 class="jumbotron-heading">Vítejte v sekci pro přihlášené uživatele</h1>
<p class="lead text-muted">Pro výběr možností použijte menu</p>

<img class="mb-4" src="~/uploads/indexPhoto.jpg" alt="" width="700" height="400">
